/* src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

@import "tailwindcss";
 
 
html, body, #root { height: 100%; }

body { 
  font-family: 'Plus Jakarta Sans', sans-serif;
}

 